<p id="notice"><%= notice %></p>


<p style="color: red">Instruções: clique em visualizar ata, imprima o documento. Após a assinatura de todos os envolvidos, encaminhar a ata para digitalização</p>

<br />
<h1>ATA DE DEFESA</h1>
<p style="width: 60%; text-align: justify; ">Na data de <%= @board_document.date.to_s_br() %>, às <%= @board_document.time.to_s(:time)  %>, na <%= @board_document.location %> da <%= @board_document.location2 %> em <%= @board_document.city %> foi realizada a defesa de <%= disciplina_projeto(@board_document.project_id)%> do discente <%= aluno_projeto( @board_document.project_id )%> , de título "<%= titulo_projeto( @board_document.project_id )%>". Esteve presente avaliando o trabalho a banca
examinadora composta pelos professores: <%= board_projeto( @board_document.project_id )%>. Após apresentação do trabalho pelo discente e arguição da banca examinadora, o seu trabalho foi
considerado:

<%= @board_document.approval %> <%= @board_document.mark %>


<%= @board_document.city %>, <%= @board_document.date.to_s_br %>
</p>




</br><%= link_to 'Voltar', gerarata_path %>  | <%= link_to "Visualizar PDF", atamanual_board_document_path(@board_document, :format => 'pdf') %>


