#encoding:utf-8
<p>Olá <%= @member.nome %>,</p>


<br />
<p>Confira os dados e clique no link abaixo para confirmar</p>
<p>Ata de defesa do projeto <%= @project.title %>, do aluno <%= @sender %>.</p>

<p>nome <%= @member.nome %></p>
<p>e-mail <%= @member.email %></p>
<p>token <%= @member.token %></p>
<p>Título do projeto <%= @project.title %></p>
<p>Orientador do projeto <%= @orientador %></p>
<p>Disciplina <%@project.course %></p>
<p>Descrição do projeto <%= @project.description %></p>



<%= link_to "Confirmar", confirma_board_member_url(@member, :token => @member.token)%>



