<h1>Listando Periodos</h1>

<table>
  <tr>
  	<th>Quadrimestre</th>
  	<th>Ano</th>
    <th>Inicio Pedido de Orientação</th>
    <th>Fim Pedido de Orientação</th>
    <th>Inicio Avaliação Orientador_Aluno</th>
    <th>Fim Avaliação Orientador_Aluno</th>
    <th>Inicio Indicação da Banca / Avaliaçao</th>
    <th>Fim Indicação da Banca / Avaliação</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @duedates.each do |duedate| %>
  <tr>
  	<td><%= duedate.trimestre %></td>
    <td><%= duedate.orientation_start.year %></td>
    <td><%= duedate.orientation_start %></td>
    <td><%= duedate.orientation_end %></td>
    <td><%= duedate.evaluation_start %></td>
    <td><%= duedate.evaluation_end %></td>
    <td><%= duedate.board_start %></td>
    <td><%= duedate.board_end %></td>
    
    <td><%= link_to 'Editar', edit_duedate_path(duedate) %></td>
    <td><%= link_to 'Apagar', duedate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Periodo', new_duedate_path %>
